---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = 'My Astro Learning Blog';
---

<Layout title="CodingNomad">
    <!-- <header>
		Michael Campbell
	</header> -->
    <body>
        <Navigation />
        <h1>{pageTitle}</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            <li><a href="/posts/my-first-post/">Post 1</a></li>
            <li><a href="/posts/my-second-post/">Post 2</a></li>
            <li><a href="/posts/my-third-post/">Post 3</a></li>
        </ul>
    </body>
    <Footer />
    <!-- <footer>
		Made by CodingNomad.
	</footer> -->
</Layout>
