---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="CodingNomad">
    <h2>Software Engineer</h2>
    <p>
        Hello, thanks for stopping by. This website is currently undergoing a bit of a revamp. If you'd like to get in touch, then feel free
        to contact me through one of the links below. Thanks!
    </p>
    <!-- <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} /> -->
</BaseLayout>
