---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="CodingNomad">
    <p>This page is currently under construction. Follow the links below to get in touch.</p>
    <!-- <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} /> -->
</BaseLayout>
