---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
const pageTitle = 'Coding Nomad';
---

<Layout title="CodingNomad">
	<!-- <header>
		Michael Campbell
	</header> -->
	<main>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
		<p>
			This page is currently under construction. Follow the links below to get in touch.
		</p>
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/mt-campbell">
					LinkedIn
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/mt-campbell">
					GitHub
				</a>
			</li>
		</ul>
	</main>
	<!-- <footer>
		Made by CodingNomad.
	</footer> -->
</Layout>