---
const platform = 'github';
const username = 'talbekk';
---

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <p>Connect with me on <a href={`https://www.linkedin.com/in/mt-campbell`}>LinkedIn</a>!</p>
</footer>
