---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: #f1f5f9;
        background-color: #000;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #000;
    }

    a:hover {
        padding: 0.5rem 1rem;
        color: #000;
        background-color: #f1f5f9;
        border: 1px solid #000;
    }
</style>
